<h1>Welcome to gifts :: {{page}}</h1>

{{#each gifts}}
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <a href="{{url}}">{{url}}</a>
    <a href="/gifts/{{id}}">View</a>
    <a href="/gifts/{{id}}/edit">Edit</a>
    <a href="/gifts/{{id}}/delete">Remove</a>
{{/each}}