<h2 class="page__title">{{title}}</h2>

<div class="l-cards swiper-container">
    <div class="swiper-wrapper">
        {{#each gifts}}
            <div class="card swiper-slide">
                <section class="card__image">
                    <img class="card__preview" src="{{image}}">
                </section>
                <section class="card__details">
                    <section class="card__story">
                        <h3 class="card__title">{{name}}</h3>
                        <p class="card__user"><i class="fa fa-user"></i> {{username}}</p>
                        <p class="card__description">{{description}}</p>
                    </section>
                    {{#if ../showActions}}
                    <section class="card__actions">
                    {{else}}
                    <section class="card__actions card__actions--fluid">
                    {{/if}}

                    {{#if ../showActions}}

                        <a class="btn card__btn btn--default" target="_blank" href="{{url}}">View</a>
                        <a class="btn card__btn btn--default" href="/gifts/{{id}}/edit">Edit</a>
                        <a class="btn card__btn btn--default" href="/gifts/{{id}}/delete">Remove</a>
                    {{else}}
                        <a class="btn card__btn btn--fluid" href="/gifts/{{id}}/complete">COMPLETE</a>
                    {{/if}}

                </section>

                </section>
            </div>
        {{/each}}
    </div>
    <div class="swiper-pagination"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
